.features {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    background-image: url(images/features.jpg);
    background-size: cover;
    background-position: center;
    object-fit: contain;
    width: 100%;
    padding: 09.375rem 0;

    // .features::before{
    //     content: "";
    //     background-image: linear-gradient(#6696E2,#E27866);
    //     position: absolute;
    //     opacity: 0.45%;
    // }
    


    .slides-navigation {
        display: flex;
        flex-direction: column;
        

        .nav-block {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            width: 100px;
            height: 100px;
            background-color: #A37169;
            cursor: pointer;

            span {
                display: inline-block;
                text-transform: uppercase;
                transform: rotate(-45deg);
                color: #fff;
                font-size: 14px;
                font-weight: bolder;
                font-family: $fontas;
                opacity: 0.5;
            }
            &.active {
                background-color: #E27866;

                span {
                    opacity: 1;
                }
            }
        }
    }

        .feature-slides {
            margin-left: 3.25rem;
            

            .feature-block {
                display: none;
                align-items: center;
                justify-content: center;
                // animation: fade-in 0.35s linear;
            
                &.active {
                    display: flex;
                }
                // &:nth-child(even) {
                //     background: pink;
                // }

                .featuresContainerOuter{
                    display: flex;
                    flex-direction: row;

                    .featuresContainerText{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        max-width: 32.5rem;

                        h3{
                            color:#FFFFFF ;
                            font-family: $fontas;
                            font-size: 36px;
                        }

                        p{
                            font-size: 14px;
                            color: #FFFFFF;
                            font-family: $fontas;
                        }
                    }

                    .featuresContainerIMG{
                        display: flex;
                        flex-direction: column;
                        margin-left: 4.375rem;
                        justify-content: center;
                        align-items: center;
                        
                        img:hover{
                            cursor: pointer;
                            // background: rgba(226,120,102,0.8);
                        }

                        .smallImageContainer{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;
                            

                            .smallImage{
                                

                                img{
                                padding: 14px;
                                max-width: 10.30rem;
                                max-height: 10.30rem;
                                object-fit: cover;
                                }
                            }
                        
                        }

                        .bigImageContainer{
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img{
                            padding-right: 10px;
                            max-width: 360px;
                            max-height: 178px;
                            object-fit: cover;
                            }
                        }

                        
                    }

                }
            }
        }
}




