.aboutPage.Second {
    background-color: #ffffff;
    
    .container{
        text-align: center;
        flex-direction: column;
        padding: 3.125rem 0;

        .textContainer.Second{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #212121;

            p{
                color: #86878B;
                font-size: 14px;
            }

            h2{
                position: relative;
                font-size: 36px;
                color: #212121;
            }

            h2::after{
                content: "";
                position: absolute;
                width: 64px;
                height: 2px;
                top: 70px;
                left: 190px;
                background-color: $brandColor;
            }
        }

        .prosContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            

            .proContent{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 3.03125rem;
                flex-grow: 1;
                max-width: 27.5rem;
                
                p{
                   color: #86878B;
                }
            }
        }
    }
}