@media (max-width: 720px){

    nav{
        height: 75px;
        .logo{
            svg{
                display: none;
            }
        }
        ul{
            display: none;
        }

        .burger{
            display: flex;
            padding: 25px 50px;
            // right: -405px;

            .top_burger, .middle_burger, .bottom_burger{
                right: 20px;
            }

        }
    }

    .homepage{
        .opacityContainer{
            padding: 0;
            .contentContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 6rem 2rem;
                padding-top: 8rem;

                .contentContainerInner{
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    padding: 0;
                    max-width: 400px;

                    svg{
                        justify-content: center;
                    }
                }

               .formContainer{
                display: none;
               }
            }
        }
        .footerHomepage{
            display: none;
        }
    }
    .features{
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        min-height: 70vh;
        
        .slides-navigation{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            .nav-block{
                margin: 10px;
            }
        }

        .features-slides{
            margin: 0;

            .feature-block{
                .featuresContainerOuter{
                    .featuresContainerIMG{
                        display: none;
                        .smallImageContainer{
                            display: none;
                            .smallImage{
                               display: none;
                               
                               img{
                                display: none;
                                }
                           }
                            
                        }
                        .bigImageContainer{
                            display: none;
                            img{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .aboutPage{
        display: flex;
        flex-direction: column;

        .container{
            flex-direction: column;
            padding: 2rem 0;

            .textContainer{
                padding: 0 1rem;
                .titleContainer{
                    justify-content: center;
                    align-items: center;
                    .logoSide{
                        flex-grow: 0;
                    }
                }
            }
        }
    }

    .aboutPage.pricing{
        .container.pricing{
            .pricingContainer{
                flex-direction: column;
            }
        }
    }

    .aboutPage.reviews{
        .textContainer.reviews{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3.125rem;
        }
    }

    .aboutPage.lastForm{
        .container.last{
            .formContainer{
                width: 100%;
                padding-bottom: 0;
                border-radius: 15px;

                .inputForm{
                    align-items: center;
                    justify-content: center;
                    padding: 25px;


                    input[type="text"], input[type="number"]{
                        width: 50%;
                    }

                    .radioForm{
                        label{
                            margin: 0 20px;
                            font-size: 15px;

                            
                        }
                    }
                    button{
                        width: 50%;
                    }
                }
            }
        }
    }

    footer{
        .footerSocial{
            svg{
                display: none;
            }
        }
    }

    .features .feature-slides .feature-block .featuresContainerOuter .featuresContainerIMG .smallImageContainer .smallImage img{
        display: none;
    }

    .features .feature-slides .feature-block .featuresContainerOuter .featuresContainerIMG .bigImageContainer {
        display: none;
    }

}