.homepage {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 96px;
    background-image: url(images/homepage.jpg);
    background-size: cover;
    width: 100%;
    background-position: center;
    font-family: $fontas;

    .opacityContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #1C1C1C;
        opacity:0.63 ;
        z-index: 3;
        padding: 4.375rem 9.25rem ;
    
        .contentContainer{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
        
            .contentContainerInner{
                display: flex;
                flex-direction: column ;
                justify-content: center;
                align-items: flex-start;
                z-index: 4;
                color: #FFFFFF;

                padding-right: 50px;

                .bigText{
                    font-size: 36px;
                    font-weight: bold;
                }

                // ---------- place changes ----
                // .bigText::after{
                //     content : "";
                //     position: absolute;
                //     width: 84px;
                //     height: 2px;
                //     top: 225px;
                //     left: 22px;
                //     background-color: #FFFFFF;
                // }
                .smallText{
                    font-size: 16px;
                    font-weight: bold;
                
                }

                .btnDownload{
                    margin-top: 44px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    padding: 12px 21px;
                    font-size: 14px;
                    font-weight: bold;
                    background: none;
                    border: 4px solid #FFFFFF ;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                }

            .btnDownload:hover{
                background-color: #FFFFFF;
                color: #000000;
            }
            }
            
            .formContainer{
                display: flex;
                flex-direction: column;
                width: 30vw;
                background-color: #FFFFFF;
                flex-grow: 1;

                .topText{
                    background-color:#F5F5F5 ;
                    font-size: 20px;
                    font-weight: bold;
                    color: #333333;
                    padding: 15px 50px;
                    word-wrap: none;
                    

                    span{
                        color:#E27866 ;
                    }
                }

                .inputForm{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    p{
                        align-self: start;
                        font-size: 19px;
                        color: #000000;
                        font-weight: bolder;
                        padding-left: 50px;

                    }

                    input[type="text"], input[type="number"]{
                        border:none;
                        border-bottom: 1px solid #D8D8D8;
                        font-family: $fontas;
                        font-size: 15px;
                        width: 72.2%;
                        padding-left: 7px;
                        padding-bottom: 4.5px;
                        padding-top: 30px;
                    }

                    .btnFormTop{
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        background-color: #41D395;
                        font-weight: 400;
                        color: #FFFFFF;
                        font-size: 20px;
                        border: none;
                        padding: 18px 100px;
                    }
                }

                .radioForm{
                    
                    .radioText{
                        align-self: flex-start;
                        
                    }
                    
                }
            }

        }
    }
    
    .footerHomepage{
        display: flex;
        flex-direction: row;
        position: abosulte;
        background-color: #F5F5F5;
        justify-content: space-around;
        align-items: center;
        padding: 0 9.25rem;

        .footerText{
            flex-grow: 1;
            // padding-right: 135px;
            p{
                color: #86878B;
            }
        }

        .footerSocial{
            flex-grow: 1;
            display: flex;
            justify-content: space-evenly;
            opacity: 0.65;

            svg:hover g{
                cursor: pointer;
                opacity: 1;
            }
            svg:hover path{
                cursor: pointer;
                opacity: 1;
            }
        }
    }

}
