.aboutPage.pricing{
    background-color: #6696E2;
    
    .container.pricing{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.125rem 0;
    }

        .textContainer.pricing{
            justify-content: center;
            align-items: center;

            h2::after{
                content: "";
                position: absolute;
                width: 64px;
                height: 2px;
                top: 55px;
                left: 100px;
                background-color: #41D395;
            }
        }

        .pricingContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            .pricingList{
                padding: 1.25rem;
                border-radius: 10px 10px 10px 10px;
                padding-top: 7.375rem;

                .darkPricing{
                    display: flex;
                    flex-direction: column;
                    background-color: #333333;
                    justify-content: center;
                    align-items: center;
                    color: #FFFFFF;
                    border-radius: 10px 10px 0 0;
                    padding-left: 3.688rem;
                    padding-right: 3.688rem;

                    .pricing{
                        margin: 0 auto;
                    }
                    .pricing.class{
                        padding-top: 0.875rem;
                        font-size: 20px;
                    }
                    .pricing.price{
                        font-size: 94px;
                        span{
                            font-size: 34px;
                        }
                    }
                    .pricing.payment{
                        font-size: 14px;
                        opacity: 50%;
                        padding-bottom: 1.125rem;
                    }
                }
                .greenPricing{
                    width: 100%;
                    height: 6px;
                    background-color: #41D395;
                    transition: ease-in 0.3s;

                    p{
                        display: none;
                        font-family: $fontas;
                        color: #ffffff;
                        margin: 0 auto;
                        padding-top: 5px;
                        font-weight: bold;
                    }
                }

                .whitePricing{
                    display: flex;
                    flex-direction: column;
                    color: #86878B;
                    background-color: #FFFFFF;
                    justify-content: center;
                    align-items: center;
                    padding-left: 3.688rem;
                    padding-right: 3.688rem;
                    border-radius: 0 0 10px 10px;
                    white-space: nowrap;

                    .pricing.Explained{
                        font-size: 14px;
                        text-align: center;
                    }
                   
                }
            }

            .best:hover .greenPricing{
                height: 30px;
            }

            .best:hover .greenPricing p{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $fontas;
            }
        }
}
