.aboutPage.reviews{
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    font-family: $fontas;
    
    .textContainer.reviews{
        padding: 3.125rem 0;
        font-size: 36px;
        color: #1C1C1C;
        font-weight: bold;
       
    }
    .swiper-container{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 3.125rem 0;

        .swiper-slide{
            text-align: center;
            background: #fff;

            .review{
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                padding: 0.625rem;
        
                .foto{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.625rem;
                    
                    .name{
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        padding-left: 1rem;
                        

                        p{
                            color: #000000;
                            font-size: 20px;
                            margin: 0;
        
                            span{
                                font-size: 14px;
                                color: #86878B;
                                
                            }
                        } 
                    }
                }
                .chatbox{
                    background-color:#6696E2 ;
                    padding:1.25rem;
                    max-width: 15rem;
                    border-radius: 15px;
                    margin-bottom: 0.625rem;
                    position: relative;

                    p{
                        color: #ffffff;
                        font-size: 16px;
                    }
                }
                .chatbox::before{
                    content:"";
                    // position: absolute;
                    position: relative;
                    bottom: 100px;
                    left: 200px;
                    background:#11c070;
                    transform: rotate(45deg);
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
    }

    .swiper-pagination .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: none;
        border: 1px solid #E27866;
        opacity: 1;
        margin: 10px;
    }
    
    .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #E27866;
    }
    
    
}

