@import "varr.scss"; 
// nac bar, margins position//
@import "nav_bar.scss" ;
@import "homepage.scss";
@import "about_about.scss";
@import "aboutPage_1st.scss";
@import "aboutPage_2nd.scss";
@import "reviews.scss";
@import "pricing.scss";
@import "lastPageForm.scss";
@import "footer.scss";
