body {
  margin: 0; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  width: 100%;
  background-color: #1C1C1C;
  padding: 0.1rem 4.375rem;
  z-index: 10; }
  nav .logo {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    list-style-type: none;
    margin: 0;
    -webkit-padding-start: 80px;
            padding-inline-start: 80px; }
    nav ul li {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      color: #FFFFFF;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      opacity: 0.69;
      text-transform: capitalize;
      margin: 25px 22.5px 25px 22.5px; }
    nav ul li::after {
      content: "";
      z-index: 100;
      position: absolute;
      bottom: 0px;
      width: 65px;
      height: 2px;
      opacity: 0;
      background-color: #E27866; }
    nav ul li:hover {
      opacity: 1;
      cursor: pointer; }
    nav ul li:hover::after {
      cursor: pointer;
      opacity: 1; }

.homepage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(images/homepage.jpg);
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  background-position: center;
  font-family: "Montserrat", sans-serif; }
  .homepage .opacityContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #1C1C1C;
    opacity: 0.63;
    padding: 4.375rem 9.25rem; }
    .homepage .opacityContainer .contentContainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      .homepage .opacityContainer .contentContainer .contentContainerInner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        z-index: 4;
        color: #FFFFFF;
        padding-right: 50px; }
        .homepage .opacityContainer .contentContainer .contentContainerInner .bigText {
          font-size: 36px;
          font-weight: bold; }
        .homepage .opacityContainer .contentContainer .contentContainerInner .smallText {
          font-size: 16px;
          font-weight: bold; }
        .homepage .opacityContainer .contentContainer .contentContainerInner .btnDownload {
          margin-top: 44px;
          color: #FFFFFF;
          text-transform: uppercase;
          padding: 12px 21px;
          font-size: 14px;
          font-weight: bold;
          background: none;
          border: 4px solid #FFFFFF;
          cursor: pointer;
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
        .homepage .opacityContainer .contentContainer .contentContainerInner .btnDownload:hover {
          background-color: #FFFFFF;
          color: #000000; }
      .homepage .opacityContainer .contentContainer .formContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 32vw;
        background-color: #FFFFFF;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-border-radius: 10px;
                border-radius: 10px; }
        .homepage .opacityContainer .contentContainer .formContainer .topText {
          background-color: #F5F5F5;
          font-size: 20px;
          font-weight: bold;
          color: #333333;
          padding: 15px 50px;
          -webkit-border-radius: 10px 10px 0 0;
                  border-radius: 10px 10px 0 0; }
          .homepage .opacityContainer .contentContainer .formContainer .topText span {
            color: #E27866; }
        .homepage .opacityContainer .contentContainer .formContainer .inputForm {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .homepage .opacityContainer .contentContainer .formContainer .inputForm p {
            -webkit-align-self: start;
                -ms-flex-item-align: start;
                    align-self: start;
            font-size: 19px;
            color: #000000;
            font-weight: bolder;
            padding-left: 50px; }
          .homepage .opacityContainer .contentContainer .formContainer .inputForm input[type="text"], .homepage .opacityContainer .contentContainer .formContainer .inputForm input[type="number"] {
            border: none;
            border-bottom: 1px solid #D8D8D8;
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            width: 72.2%;
            padding-left: 7px;
            padding-bottom: 4.5px;
            padding-top: 30px; }
          .homepage .opacityContainer .contentContainer .formContainer .inputForm .btnFormTop {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 100%;
            background-color: #41D395;
            font-weight: 400;
            color: #FFFFFF;
            font-size: 20px;
            border: none;
            padding: 18px 100px;
            -webkit-border-radius: 0 0 10px 10px;
                    border-radius: 0 0 10px 10px; }
        .homepage .opacityContainer .contentContainer .formContainer .radioForm .radioText {
          -webkit-align-self: flex-start;
              -ms-flex-item-align: start;
                  align-self: flex-start; }
  .homepage .footerHomepage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    background-color: #F5F5F5;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 9.25rem; }
    .homepage .footerHomepage .footerText {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      .homepage .footerHomepage .footerText p {
        color: #86878B; }
    .homepage .footerHomepage .footerSocial {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -webkit-justify-content: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      opacity: 0.65; }
      .homepage .footerHomepage .footerSocial svg:hover g {
        cursor: pointer;
        opacity: 1; }
      .homepage .footerHomepage .footerSocial svg:hover path {
        cursor: pointer;
        opacity: 1; }

.aboutPage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4.375rem 9.25rem;
  background-color: #1C1C1C; }
  .aboutPage .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-family: "Montserrat", sans-serif; }
    .aboutPage .container .logoContainer {
      -webkit-box-flex: 2;
      -webkit-flex-grow: 2;
          -ms-flex-positive: 2;
              flex-grow: 2; }
    .aboutPage .container .textContainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      max-width: 32vw;
      word-wrap: break-word;
      color: #ffffff; }
      .aboutPage .container .textContainer h2 {
        font-size: 30px;
        color: #ffffff; }
      .aboutPage .container .textContainer .titleContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .aboutPage .container .textContainer .titleContainer .logoSide {
          padding-right: 0.625rem; }
        .aboutPage .container .textContainer .titleContainer .textSide {
          max-width: 28.5vw;
          padding-left: 0.625rem; }

.aboutPage.Second {
  background-color: #ffffff; }
  .aboutPage.Second .container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .aboutPage.Second .container .textContainer.Second {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #212121; }
      .aboutPage.Second .container .textContainer.Second p {
        color: #86878B;
        font-size: 14px; }
      .aboutPage.Second .container .textContainer.Second h2 {
        font-size: 36px;
        color: #212121; }
    .aboutPage.Second .container .prosContainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .aboutPage.Second .container .prosContainer .proContent {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 3.03125rem; }
        .aboutPage.Second .container .prosContainer .proContent p {
          color: #86878B; }
